body{
    background-color: #fedcba;
    }
.antr{
    font:'Times New Roman';
    text-align:center;
}
.lent{
    width:50%;
    text-align:center;
    font-size:larger;
    margin:auto;
    margin-top:150px;
    margin-bottom:150px;
            
}
#vard{
    font:'Times New Roman';
    font-size:large;
    text-align:right;
}
table, td{
    border:solid black;
}