.pp{
    font-family:Arial;
    font-size:36px;
    text-align:left;
    background-color:black;
    color:white;
    height:48px;
}
.pa{
    float:right;
}
a:link{
    text-decoration: none;
    color: red;
}
a:visited{
    color: red;
}
.ap{
    font-family:Arial;
    font-size:24px;
    height: 188px;
    border:2px solid red;
}
.aa{
    font-family:Arial;
    font-size:12px;
}
.img{
    float: left;
}